1. What are data structures, and why are they important?

Ans-A data structure is a way of organizing, storing, and managing data so it can be used efficiently.It enabling faster processing, better memory use, and scalable problem-solving, It enabling faster processing, better memory use, and scalable problem-solving.

2.  Explain the difference between mutable and immutable data types with examples

Ans - Mutable vs Immutable

Mutable → Can be changed after creation (you can add, remove, or modify elements).
Immutable → Cannot be changed once created (any “change” creates a new object).

3. What are the main differences between lists and tuples in Python.

Ans - Lists are mutable and slower, while tuples are immutable and faster in Python.

4. Describe how dictionaries store data.

Ans - Dictionaries in Python store data as key–value pairs using a hashing mechanism, where each key is unique and mapped to its value, allowing fast lookup, insertion, and deletion.

5. Why might you use a set instead of a list in Python

Ans - You might use a set instead of a list when you need to store unique items.

6. What is a string in Python, and how is it different from a list

Ans -A string in Python is an immutable sequence of characters, while a list is a mutable sequence of elements (which can be numbers, strings, or any objects).
In short: String = fixed text data, List = editable collection of items.

7. How do tuples ensure data integrity in Python

Ans - Tuples ensure data integrity in Python by being immutable, meaning once created their elements cannot be changed, added, or removed—this prevents accidental modifications and keeps the data fixed and reliable.

8.  What is a hash table, and how does it relate to dictionaries in Python

Ans -A hash table is a data structure that stores data in key–value pairs and uses a hash function

9.  Can lists contain different data types in Python

Ans - Yes, lists in Python can hold elements of different data types (e.g., integers, strings, floats, even other lists).

10.  Explain why strings are immutable in Python

Ans -Strings are immutable because once created, their contents cannot be changed; any modification (like replace or concat) creates a new string object in memory.

11. What advantages do dictionaries offer over lists for certain tasks

Ans: Dictionaries provide fast lookups, insertions, and deletions using keys (thanks to hashing), while lists require searching through elements sequentially, which is slower.

12. Describe a scenario where using a tuple would be preferable over a list

Ans: Tuples are preferable when you need fixed, unchangeable data, like storing a person’s birthdate (1998, 5, 21) or coordinates (28.6, 77.2) that should never be altered.

13. How do sets handle duplicate values in Python

Ans: Sets automatically remove duplicates, keeping only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries

Ans:

For lists, in checks if a value exists in the list.

For dictionaries, in checks only for keys, not values.

15. Can you modify the elements of a tuple? Explain why or why not

Ans:  No, you cannot modify tuple elements because tuples are immutable — once created, their contents cannot change. This ensures data integrity and reliability.

16. What is a nested dictionary, and give an example of its use case

Ans: A nested dictionary is a dictionary that contains another dictionary as its value. Use case: Storing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary



18. In what situations are lists preferred over dictionaries

Ans: Lists are preferred when:

The order of elements matters.

You only need sequential data storage.

You don’t need unique keys, just values (e.g., storing a shopping list).

19. Why are dictionaries considered unordered, and how does that affect data retrieval

Ans - Traditionally, dictionaries were unordered because they stored items based on hash values, not insertion order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

ans -List: Data is retrieved by index/position (my_list[0]).

Dictionary: Data is retrieved by key (my_dict["name"]).

In [1]:
# Practical Questions
#1 Write a code to create a string with your name and print it

name = "Nishant Singh"
print(name)

Nishant Singh

In [2]:
#2 Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"

word = "Python Programming"
print(word[:3])

Pyt

In [4]:
# 4Write a code to convert the string "hello" to uppercase
greet = "hello"
print(greet.upper())

HELLO

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
#6 Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list_remove = [1, 2, 3, 4, 5]
list_remove.remove(3)
print(list_remove)

[1, 2, 4, 5]

In [9]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

rev_list = [10, 20, 30, 40, 50]
rev_list.reverse()
print(rev_list)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])   # Negative indexing: -1 is last, -2 is second-to-last

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))

In [13]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [14]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False